*{
    font-family: "raleway", "sans-serif";
    }

    /* Barre de navigation */

    a{
        color: inherit;
        text-decoration: none;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
    }
    
    nav div a {
        display: flex;
        padding: 8.4vh 3vw 0vh 4vw;
        margin-top: -5.47vh;
        font-weight: 500;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        flex-basis: 100%;
        align-items: center;
        gap: 5vw;
    }
    
    #booki-logo-container{
        margin-right: auto;
        padding-left: 5vw;
        padding-top: 4vh;
    }

    #booki-logo{
        object-fit: contain;
    }
    
    nav a:hover{
        border-top-color: #0065fc;
        color: #0065fc;
    }
    
    .acti-heberg{ 
        display: flex;
        padding-right: 4vw;
        align-items: center;
    }



/* Corps de page */
    

    .wrapper {
        padding : 0 4vw 0 4vw;
    }

    .barre-recherche {
        display: flex;
        max-width: 400px;
    }

    .barre-recherche i{
        padding: 2vh 3vh;
        background-color: #F2F2F2;
        border-top-left-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
    }

    input.ville {
        padding-left: 3vw;
        
    }
    
    input.ville:focus {
        outline-width: 0; 
    }

    .barre-recherche input{
        padding-right: 3vw;
        border: 2px solid #F2F2F2;
    }


    .barre-recherche button{
        padding: 2vh;
        background-color: #0065fc;
        color: white;
        font-weight: 600;
        border-top-right-radius: 1.5vw ;
        border-bottom-right-radius: 1.5vw ;
        border: none;
    }

    .barre-recherche input::placeholder{
        font-weight: 700;
    }

    .rechercher:hover{
        background-color: #0051c9;
    }

    .rechercher{
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass{
        display: none;
    }



/*liste de filtres*/


.liste-de-filtres{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 1vh 3vw;
}

.filtre i {color:#0065fc;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Marges des symboles bleus par rapport aux divs parents encadrées en gris */
    margin: -0.33vh 1vw -0.33vh -2.2vw;}

.liste-de-filtres div{
    border:3px solid #F2F2F2;
    border-radius: 80vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.liste-de-filtres div:hover{
    cursor: pointer;
    color: #0065fc;
}

.titre-desktop h2{
    display: none;
}

/*Résultats de recherche*/

.nombre-résultats{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 1vh;
}

.nombre-résultats .fa-solid.fa-info{
    width: 22px;
    height: 22px;
    color:#0065fc;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Hébergements et populaires */

.liste-dhébergements{
    display: flex;
    gap: 1vw;
    flex-basis: 100%;;
}

.normal{
    flex-basis: 66%;
}

.populaire{
    flex-basis: 33%;
}

.liste-dhébergements > div{
    borer: 1px solid red;
    background-color: #F2F2F2;
    border-radius : 3.5vw;
    padding: 2vw;
    
}

.normal a {
    font-weight: bold;
    text-align: center;
}


.détails-hébergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    gap: 3vw;
    margin-bottom: 2vh;

}

.détails-hébergements div{
    boder: 1px solid red;
    flex-basis: calc(33% - 60px);
}


.détails-populaires{
    display: flex;
    gap: 3vw;
    flex-direction: column;
    boder: 1px solid blue;
}

.liste-dhébergements .populaire .détails-populaires div{
    flex-basis: 100%;
    boder: 1px solid red;
}



.moyenne-des-avis .fa-solid.fa-star.étoiles-en-bleu{
    color:#0065fc;
}

.étoiles-en-gris{
    color: #c7c7c7;
}

.détails-hébergements p {
    margin: 0.5vw;
}
.détails-populaires p {
    margin: 0.5vw;
}


.détails-hébergements img {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}
.détails-populaires img {
    width: 100%;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    object-position: center;
}

.case-résultat-populaire{
    display: flex;
    background-color: white;
    flex-wrap: nowrap;
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 0 15px #c7c7c7;
}

.description-populaire{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-iems:baseline;
    justify-content:flex-start;
    
}

.case-résultat{
    background-color: white;
    border-radius: 20px;
    padding: 1vw;
    flex-grow: 1;
    box-shadow: 0 0 15px #c7c7c7;
}

.case-résultat:hover{
    transform: scale(1.02);
    transition: all 200ms ease-in-out;
    cursor: pointer;  
}

.case-résultat-populaire:hover{
    transform: scale(1.02);
    transition: all 200ms ease-in-out;
    cursor: pointer;  
}

/* Activités */

.liste-dactivités-grid{
background-color: red;
display: grid;
grid-template-rows: 1fr 2fr 1fr;
grid-template-columns: repeat(4, 1fr);
}

.liste-dactivités-grid > *{
    border: 1px solid blue;
}

.big-1, .big-2{
    grid-row: 1 / 4
}

.big-2{
    grid-column: 3 / 4;
}

.medium-1, .medium-2 {
    grid-row: span 2;
}

.small-1{
    grid-column: 2/3;
    grid-row: 3/4;
}

/*TABLETTE*/
    



    @media only screen and (max-width: 992px){

    /*barre de navigation et logo*/

        #booki-logo-container{
            margin: auto;
            padding: 0;
        }

        span img{
            padding-left: 66px; }

        nav div a {
            padding-top: 2vh;
            padding-bottom: 2vh;
            font-weight: 500;
            margin: 0;
            flex-basis: 50%;
            text-align: center;

            border-bottom: 3px solid transparent;
            border-top: 3px solid transparent;
            border-bottom-color: #F2F2F2;
        }
     
        .texte-barre-nav{
        justify-content: center;
        }

        .acti-heberg{
            flex-basis: 100%;    
            padding: 0;
        }

        .acti-heberg a:hover{
            border-bottom-color:#0065fc;   
            border-top-color: transparent;}


    /*Recherche*/

        /* Saut de ligne après h1 Filtres*/
        .liste-de-filtres div{
            margin-top: 2vh;
        }
        /* Marges des symboles bleus par rapport aux divs parents encadrées en gris*/
        .liste-de-filtres i{
            margin: -0.25vh 1.4vw -0.26vh -2.9vw;
        }
        /*Changement h1 pour afficher les filtres en dessous du texte*/
        .liste-de-filtres h2 {
            display: none;
        }
        .titre-desktop h2 {
            display: inline;
        }



    /* Liste d'hébergements */

.liste-dhébergements{
    flex-direction: column-reverse;
}

    /* Un seul hébergement par ligne*/
.détails-hébergements div{
    flex-basis: 100%;
}

.liste-dhébergements.normal{
    flex-basis: 50%;
}
.liste-dhébergements.populaire{
    flex-basis: 50%;
}
.détails-hébergements div{
    flex-basis: calc(50% - 60px);
}

}



/*MOBILE*/



    @media only screen and (max-width: 768px){

        nav {
            borer : 3px solid red ;
        }

    /*Barre de recherche*/
    
        .barre-recherche i{
            padding: 2vh 3vh;
        }
    
    
        input.ville{
            width: 90%;
        }
    
        .barre-recherche button{
            padding: 1vh;
        }

        .texte-rechercher{
            display: none;
        }

    /*Affichage symbole rechercher en vue mobile*/
        .fa-solid.fa-magnifying-glass{
            display: inline;
            color: white;
            background-color: transparent;
        }
        

    /* Filtres */

    /* Marges des symboles bleus par rapport aux divs parents encadrées en gris*/
        .liste-de-filtres i{
        margin: -0.3vh 1.4vw -0.4vh -2.9vw;
        }

    /*Résultats de recherche*/
        .nombre-résultats{
        margin-top: 2vh;
        }



    /* Liste d'hébergements */



    .liste-dhébergements{
       flex-direction: column-reverse;
   }
    /* .populaire{ order: -1} (pas besoin avec column-reverse)*/


    /* Un seul hébergement par ligne en vue mobile */
    .détails-hébergements div{
    borer: 4px solid yellow;
    flex-basis: 100%;
    }
}

