*{
    font-family: "raleway", "sans-serif";
    }
    
    a{
        color: inherit;
        text-decoration: none;
    }
    
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-top: 0%;
        line-height: 5.1;
    }
    
    nav div a {
        padding: 48.5px;
        font-weight: 500;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        padding-right: 80px;
    }
    
    #booki-logo-container{
        margin-right: auto;
        padding: 30px 60px;
    }
    
    nav a:hover{
        border-top-color: #0065fc;
        color: #0065fc;
    }
    
    .acti-heberg{ 
        display: flex;
    }
    
    @media (max-width: 992px) {
        nav{
            line-height: 1;
        }
        .acti-heberg{
            flex-basis: 100%;
        }
        .acti-heberg a{
            flex-basis: 50%;
            text-align: center;
            border-bottom-color: #F2F2F2;}
            
        .acti-heberg a:hover{
            border-bottom-color:#0065fc;
            border-top-color: transparent;
        }
    }
    
    @media (max-width: 768px) {
        #booki-logo-container{  
            
             }
    }